<% layout ('layouts/admin.ejs') %>

<h2>Admin area</h2>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Admin options</h3>
            <div class="card">
                <div class="card-body">    
                    <h4>Create</h4>
                    <form action="/admin/create" method="post">
                        <div class="form-group">
                            <input type="text" name="email_address" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first_name" placeholder="First name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" placeholder="Last name" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Create new user</button>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">    
                    <h4>Read</h4>
                    <form action="/admin/read" method="post">
                        <div class="form-group">
                            <input type="text" name="email_address" placeholder="Email" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Read information from user</button>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">    
                    <h4>Update</h4>
                    <form action="/admin/update" method="post">
                        <div class="form-group">
                            <input type="text" name="email_address" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="first_name" placeholder="First name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" placeholder="Last name" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Update information from user</button>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">    
                    <h4>Delete</h4>
                    <form action="/admin/delete" method="post">
                        <div class="form-group">
                            <input type="text" name="email_address" placeholder="Email" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-danger">Delete user</button>
                    </form>
                </div>
            </div>
            <!-- <div class="card mt-2">
                <div class="card-body">    
                    <h4>Image</h4>
                    <form action="/admin/image" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="email_address" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="file" name="fileToUpload" id="fileToUpload">
                        </div>
                        <button type="submit" class="btn btn-primary">Set image</button>
                    </form>
                </div>
            </div>     -->
        </div>
        <div class="col-md-6">
            <h3>Users list</h3>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Email</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <!-- <th>Image</th> -->
                </tr>
                <% if (users) { %>
                    <% for (var i=0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i].email_address %></td>
                        <td><%= users[i].first_name %></td>
                        <td><%= users[i].last_name %></td>
                        <!-- <td></td> -->
                    </tr>
                    <% } %>
                <% } %>
            </table>

        </div>
    </div>
</div>
